# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask
instance/
.webassets-cache

# Outputs
app/outputs/*.pdf

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# SQLite DB
*.db
database/*.db